COMPANY_NAME=Iredium
APP_NAME=Mailing

PORT=12003
WORKER_DASHBOARD_PORT=12004

REDIS_HOST=localhost:6379

MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DATABASE=butterfly
MONGO_USERNAME=
MONGO_PASSWORD=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

EMAIL_NOREPLY=
EMAIL_SUPPORT=
